<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30010">
        <setting id="hls" type="bool" label="30020" default="true"/>
        <setting id="netv" type="bool" label="30002" default="true"/>
        <setting id="netv2" type="bool" label="30018" default="true"/>
        <setting id="netv3" type="bool" label="30053" default="true"/>
        <setting id="cannali" type="bool" label="30003" default="true"/>
        <setting id="energy" type="bool" label="30043" default="true"/>
        <setting id="youtube" type="bool" label="30024" default="true"/>
        <setting id="life" type="bool" label="30004" default="true"/>
        <setting id="melodia" type="bool" label="30005" default="true"/>
        <setting id="cewr" type="bool" label="30042" default="true"/>
        <setting id="voice" type="bool" label="30023" default="true"/>
        <setting id="external" type="bool" label="30047" default="true"/>
        <setting id="rik" type="bool" label="30051" default="true"/>
        <setting id="sigma" type="bool" label="30044" default="true"/>
        <setting id="alpha" type="bool" label="30052" default="true"/>
        <setting id="omega" type="bool" label="30048" default="true"/>
        <setting id="plus" type="bool" label="30046" default="true"/>
        <setting id="capital" type="bool" label="30045" default="true"/>
    </category>
    <category label="30029">
        <setting type="lsep" label="30011"/>
        <setting label="30012" type="action" action="RunPlugin(plugin://$ID/?action=setup_iptv)"/>
        <setting type="lsep" label="30027"/>
        <setting label="30040" type="action" action="RunPlugin(plugin://$ID/?action=keymap_edit)"/>
    </category>
</settings>